In [6]:
import pandas as pd
                    #C:\Users\ANNIE CHRISTINA G\Desktop\data spark\dataset\Customers.csv
#sales = pd.read_csv('C:/Users/ANNIE CHRISTINA G/Desktop/data spark/dataset/Sales.csv')
#customer = pd.read_csv('C:/Users/ANNIE CHRISTINA G/Desktop/data spark/dataset/Customers.csv')

# Try different encodings if one doesn't work
df = pd.read_csv('C:/Users/ANNIE CHRISTINA G/Desktop/data spark/dataset/updated_customers.csv')

# Get the distinct values of the 'StateCode' column
distinct_state_codes = df['State Code'].unique()

# Print the distinct values
print("Distinct State Codes:", distinct_state_codes)
# Sort the distinct values
sorted_state_codes = sorted(distinct_state_codes)

# Print the sorted distinct values
print("Distinct State Codes (sorted):", sorted_state_codes)

Distinct State Codes: ['SA' 'WA' 'VIC' 'QLD' 'NT' 'NSW' 'TAS' 'ACT' 'BC' 'QC' 'ON' 'AB' 'NS'
 'SK' 'NU' 'PE' 'MB' 'NL' 'YT' 'NB' 'BB' 'RP' 'BY' 'BW' 'NW' 'NI' 'ST'
 'MV' 'SN' 'TH' 'BE' 'HE' 'SL' 'SH' 'HB' 'HH' 'RA' 'IL' 'GY' 'AL' 'AQ'
 'CA' 'NP' 'GD' 'FC' 'PA' 'PC' 'LI' 'MP' 'PI' 'HN' 'AU' 'PL' 'LO' 'BN'
 'CE' 'LN' 'MQ' 'BO' 'BR' 'CO' 'MY' 'RC' 'VI' 'FE' 'RM' 'AG' 'IM' 'MI'
 'PR' 'BG' 'RG' 'PN' 'SV' 'LU' 'CN' 'TN' 'LE' 'PD' 'BI' 'CH' 'GE' 'TO'
 'VV' 'CZ' 'AN' 'PG' 'LT' 'BL' 'TV' 'PV' 'MN' 'VA' 'PT' 'SI' 'MS' 'CT'
 'BS' 'SS' 'RO' 'CR' 'FI' 'GR' 'IS' 'SO' 'VE' 'OR' 'ME' 'VR' 'CS' 'BZ'
 'NO' 'AV' 'TA' 'VC' 'GO' 'MO' 'FR' 'FG' 'TE' 'BA' 'UD' 'AP' 'TP' 'RE'
 'PO' 'NAP' 'AT' 'SR' 'RI' 'TS' 'KR' 'MT' 'PZ' 'MC' 'VT' 'AR' 'AO' 'CB'
 'LC' 'SP' 'RN' 'FO' 'TR' 'UT' 'NH' 'DR' 'ZH' 'FL' 'OV' 'ZE' 'Falkirk'
 'Ceredigion' 'North East Lincolnshire' 'Aberdeenshire' 'York'
 'Pembrokeshire' 'Leicester' 'Highland' 'Tendring' 'Horsham' 'Newport'
 'Bristol' 'Newark and Sherwood' 'Argyllshire' 'Lincoln' 'Tamworth'
 'Fylde' 'Lewes' 'Rhondda Cynon Taf' 'Bromsgrove' 'Ripon' 'Cornwall'
 'South Lanarkshire' 'Shropshire' 'Perth and Kinross' 'Crawley'
 'Staffordshire' 'Mendip' 'Forest Heath' 'Moray' 'Bracknell Forest'
 'Anglesey' 'Bolsover' 'Calderdale' 'Ashford' 'Sussex' 'Darlington'
 'East Devon' 'Monmouthshire' 'Gloucester' 'Mid Devon' 'Somerset'
 'Hereford' 'Bath and North East Somerset' 'Bassetlaw' 'Christchurch'
 'West Berkshire' 'Gwynedd' 'Suffolk' 'Tewkesbury' 'Colchester'
 'Llandrindod Wells' 'Harrogate' 'Winchester' 'Angus' 'Derbyshire Dales'
 'Dacorum' 'Suffolk Coastal' 'Wiltshire' 'Leeds' 'Kennet' 'Hampshire'
 'Norfolk' 'Northumberland' 'Doncaster' 'Purbeck' 'Wyre Forest'
 'Redcar & Cleveland' 'West Dorset' 'Ipswich' 'Powys' 'Midlothian' 'Fife'
 'North Ayrshire' 'Carmarthenshire' 'Birmingham' 'South Oxfordshire'
 'North Yorkshire' 'Cheshire West and Chester' 'Scottish Borders'
 'Lichfield' 'Rushcliffe' 'Arun' 'Dumfriesshire' 'Wakefield'
 'Denbighshire' 'Plymouth' 'St Edmundsbury' 'Edinburgh' 'Liverpool' 'Kent'
 'Warwick' 'Gedling' 'Shetland' 'Flintshire' 'Gravesham'
 'Central Bedfordshire' 'North Dorset' 'Lancaster' 'Breckland'
 'East Riding of Yorkshire' 'Exeter' 'Vale of White Horse' 'Cherwell'
 'South Holland' 'South Lakeland' 'Stroud' 'Orkney Islands' 'West Lindsey'
 'Stratford-on-Avon' 'West Oxfordshire' 'Bedford' 'Rother' 'Isle of Man'
 'Swindon' 'Charnwood' 'Waverley' 'Wolverhampton' 'Aylesbury Vale'
 'Merton' 'Sevenoaks' 'Allerdale' 'Bolton' 'Selby' 'Berkshire' 'Copeland'
 'Chelmsford' 'South Kesteven' 'Cheshire East' 'Boston' 'County Durham'
 'Mid Suffolk' 'Wandsworth' 'West Dunbartonshire' 'Erewash' 'Babergh'
 'South Hams' 'Wigan' 'South Ayrshire' 'Rotherham' 'Isle of Wight'
 'Cotswold' 'Worcester' 'Rutland' 'East Northamptonshire' 'Rugby'
 'Stirling' 'North Kesteven' 'Comhairle nan Eilean Siar' 'Walsall'
 'Knowsley' 'South Somerset' 'North Lincolnshire' 'South Norfolk'
 'Aberdeen' 'Welwyn Hatfield' 'Kirkcudbrightshire' 'Carlisle' 'Hillingdon'
 'West Norfolk' 'Kirklees' 'New Forest' 'Swansea' 'Craven' 'Camden'
 'North Somerset' 'Teignbridge' 'Melton' 'Conwy' 'Enfield' 'Glasgow'
 'Braintree' 'Chichester' 'North Hertfordshire' 'East Lothian'
 'Renfrewshire' 'Eden' 'Uttlesford' 'Mid Sussex' 'Peterborough' 'Ashfield'
 'Redbridge' 'Sheffield' 'Newcastle' 'Harlow' 'East Hampshire'
 'Caerphilly' 'North Warwickshire' 'Brentwood' 'Tameside'
 'Brighton and Hove' 'Rossendale' 'Swale' 'Sutton' 'Huntingdonshire'
 'St Albans' 'Dudley' 'East Hertfordshire' 'Guildford' 'Cambridge'
 'Woking' 'Daventry' 'Vale of Glamorgan' 'East Ayrshire' 'Bradford'
 'South Buckinghamshire' 'Merthyr Tydfil' 'West Lothian' 'East Lindsey'
 'Hambleton' 'Tower Hamlets' 'Test Valley' 'Dartford' 'Sunderland'
 'Medway' 'Rochdale' 'Bury' 'Oxford' 'Bridgend' 'South Derbyshire'
 'Milton Keynes' 'Southampton' 'Wokingham' 'Nottingham' 'Stevenage'
 'Wirral' 'Dundee' 'Amber Valley' 'Harrow' 'East Dorset' 'Maidstone'
 'Wigtownshire' 'Gateshead' 'Telford and Wrekin' 'Wellingborough'
 'Runnymede' 'Wrexham' 'Cannock Chase' 'Kensington and Chelsea'
 'South Gloucestershire' 'Wycombe' 'South Staffordshire' 'Sandwell'
 'Bromley' 'Torridge' 'Burnley' 'Sefton' 'Ribble Valley' 'Chiltern'
 'Hastings' 'East Staffordshire' 'Barnet' 'Reigate and Banstead'
 'Basildon' 'Tandridge' 'Westminster' 'Warrington' 'West Lancashire'
 'Preston' 'Canterbury' 'Wealden' 'Havering' 'West Devon' 'Islington'
 'Wyre' 'Kinross-Shire' 'Waveney' 'North Lanarkshire' 'Ely'
 'Neath Port Talbot' 'Nuneaton & Bedworth' 'Chesterfield' 'Mole Valley'
 'South Northamptonshire' 'Broxbourne' 'Cardiff' 'Hackney' 'Redditch'
 'Tunbridge Wells' 'Haringey' 'Malvern Hills' 'Broxtowe' 'Spelthorne'
 'Coventry' 'Newmarket' 'Lanarkshire' 'East Dunbartonshire'
 'Stockton-on-Tees' 'NC' 'MD' 'HI' 'NY' 'TX' 'GA' 'DE' 'WI' 'KS' 'NV' 'MA'
 'NJ' 'OH' 'IA' 'KY' 'DC' 'OK' 'ID' 'AZ' 'IN' 'WV' 'NE' 'LA' 'AK' 'ND'
 'SC' 'NM' 'SD' 'WY']
Distinct State Codes (sorted): ['AB', 'ACT', 'AG', 'AK', 'AL', 'AN', 'AO', 'AP', 'AQ', 'AR', 'AT', 'AU', 'AV', 'AZ', 'Aberdeen', 'Aberdeenshire', 'Allerdale', 'Amber Valley', 'Anglesey', 'Angus', 'Argyllshire', 'Arun', 'Ashfield', 'Ashford', 'Aylesbury Vale', 'BA', 'BB', 'BC', 'BE', 'BG', 'BI', 'BL', 'BN', 'BO', 'BR', 'BS', 'BW', 'BY', 'BZ', 'Babergh', 'Barnet', 'Basildon', 'Bassetlaw', 'Bath and North East Somerset', 'Bedford', 'Berkshire', 'Birmingham', 'Bolsover', 'Bolton', 'Boston', 'Bracknell Forest', 'Bradford', 'Braintree', 'Breckland', 'Brentwood', 'Bridgend', 'Brighton and Hove', 'Bristol', 'Bromley', 'Bromsgrove', 'Broxbourne', 'Broxtowe', 'Burnley', 'Bury', 'CA', 'CB', 'CE', 'CH', 'CN', 'CO', 'CR', 'CS', 'CT', 'CZ', 'Caerphilly', 'Calderdale', 'Cambridge', 'Camden', 'Cannock Chase', 'Canterbury', 'Cardiff', 'Carlisle', 'Carmarthenshire', 'Central Bedfordshire', 'Ceredigion', 'Charnwood', 'Chelmsford', 'Cherwell', 'Cheshire East', 'Cheshire West and Chester', 'Chesterfield', 'Chichester', 'Chiltern', 'Christchurch', 'Colchester', 'Comhairle nan Eilean Siar', 'Conwy', 'Copeland', 'Cornwall', 'Cotswold', 'County Durham', 'Coventry', 'Craven', 'Crawley', 'DC', 'DE', 'DR', 'Dacorum', 'Darlington', 'Dartford', 'Daventry', 'Denbighshire', 'Derbyshire Dales', 'Doncaster', 'Dudley', 'Dumfriesshire', 'Dundee', 'East Ayrshire', 'East Devon', 'East Dorset', 'East Dunbartonshire', 'East Hampshire', 'East Hertfordshire', 'East Lindsey', 'East Lothian', 'East Northamptonshire', 'East Riding of Yorkshire', 'East Staffordshire', 'Eden', 'Edinburgh', 'Ely', 'Enfield', 'Erewash', 'Exeter', 'FC', 'FE', 'FG', 'FI', 'FL', 'FO', 'FR', 'Falkirk', 'Fife', 'Flintshire', 'Forest Heath', 'Fylde', 'GA', 'GD', 'GE', 'GO', 'GR', 'GY', 'Gateshead', 'Gedling', 'Glasgow', 'Gloucester', 'Gravesham', 'Guildford', 'Gwynedd', 'HB', 'HE', 'HH', 'HI', 'HN', 'Hackney', 'Hambleton', 'Hampshire', 'Haringey', 'Harlow', 'Harrogate', 'Harrow', 'Hastings', 'Havering', 'Hereford', 'Highland', 'Hillingdon', 'Horsham', 'Huntingdonshire', 'IA', 'ID', 'IL', 'IM', 'IN', 'IS', 'Ipswich', 'Isle of Man', 'Isle of Wight', 'Islington', 'KR', 'KS', 'KY', 'Kennet', 'Kensington and Chelsea', 'Kent', 'Kinross-Shire', 'Kirkcudbrightshire', 'Kirklees', 'Knowsley', 'LA', 'LC', 'LE', 'LI', 'LN', 'LO', 'LT', 'LU', 'Lanarkshire', 'Lancaster', 'Leeds', 'Leicester', 'Lewes', 'Lichfield', 'Lincoln', 'Liverpool', 'Llandrindod Wells', 'MA', 'MB', 'MC', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MQ', 'MS', 'MT', 'MV', 'MY', 'Maidstone', 'Malvern Hills', 'Medway', 'Melton', 'Mendip', 'Merthyr Tydfil', 'Merton', 'Mid Devon', 'Mid Suffolk', 'Mid Sussex', 'Midlothian', 'Milton Keynes', 'Mole Valley', 'Monmouthshire', 'Moray', 'NAP', 'NB', 'NC', 'ND', 'NE', 'NH', 'NI', 'NJ', 'NL', 'NM', 'NO', 'NP', 'NS', 'NSW', 'NT', 'NU', 'NV', 'NW', 'NY', 'Neath Port Talbot', 'New Forest', 'Newark and Sherwood', 'Newcastle', 'Newmarket', 'Newport', 'Norfolk', 'North Ayrshire', 'North Dorset', 'North East Lincolnshire', 'North Hertfordshire', 'North Kesteven', 'North Lanarkshire', 'North Lincolnshire', 'North Somerset', 'North Warwickshire', 'North Yorkshire', 'Northumberland', 'Nottingham', 'Nuneaton & Bedworth', 'OH', 'OK', 'ON', 'OR', 'OV', 'Orkney Islands', 'Oxford', 'PA', 'PC', 'PD', 'PE', 'PG', 'PI', 'PL', 'PN', 'PO', 'PR', 'PT', 'PV', 'PZ', 'Pembrokeshire', 'Perth and Kinross', 'Peterborough', 'Plymouth', 'Powys', 'Preston', 'Purbeck', 'QC', 'QLD', 'RA', 'RC', 'RE', 'RG', 'RI', 'RM', 'RN', 'RO', 'RP', 'Redbridge', 'Redcar & Cleveland', 'Redditch', 'Reigate and Banstead', 'Renfrewshire', 'Rhondda Cynon Taf', 'Ribble Valley', 'Ripon', 'Rochdale', 'Rossendale', 'Rother', 'Rotherham', 'Rugby', 'Runnymede', 'Rushcliffe', 'Rutland', 'SA', 'SC', 'SD', 'SH', 'SI', 'SK', 'SL', 'SN', 'SO', 'SP', 'SR', 'SS', 'ST', 'SV', 'Sandwell', 'Scottish Borders', 'Sefton', 'Selby', 'Sevenoaks', 'Sheffield', 'Shetland', 'Shropshire', 'Somerset', 'South Ayrshire', 'South Buckinghamshire', 'South Derbyshire', 'South Gloucestershire', 'South Hams', 'South Holland', 'South Kesteven', 'South Lakeland', 'South Lanarkshire', 'South Norfolk', 'South Northamptonshire', 'South Oxfordshire', 'South Somerset', 'South Staffordshire', 'Southampton', 'Spelthorne', 'St Albans', 'St Edmundsbury', 'Staffordshire', 'Stevenage', 'Stirling', 'Stockton-on-Tees', 'Stratford-on-Avon', 'Stroud', 'Suffolk', 'Suffolk Coastal', 'Sunderland', 'Sussex', 'Sutton', 'Swale', 'Swansea', 'Swindon', 'TA', 'TAS', 'TE', 'TH', 'TN', 'TO', 'TP', 'TR', 'TS', 'TV', 'TX', 'Tameside', 'Tamworth', 'Tandridge', 'Teignbridge', 'Telford and Wrekin', 'Tendring', 'Test Valley', 'Tewkesbury', 'Torridge', 'Tower Hamlets', 'Tunbridge Wells', 'UD', 'UT', 'Uttlesford', 'VA', 'VC', 'VE', 'VI', 'VIC', 'VR', 'VT', 'VV', 'Vale of Glamorgan', 'Vale of White Horse', 'WA', 'WI', 'WV', 'WY', 'Wakefield', 'Walsall', 'Wandsworth', 'Warrington', 'Warwick', 'Waveney', 'Waverley', 'Wealden', 'Wellingborough', 'Welwyn Hatfield', 'West Berkshire', 'West Devon', 'West Dorset', 'West Dunbartonshire', 'West Lancashire', 'West Lindsey', 'West Lothian', 'West Norfolk', 'West Oxfordshire', 'Westminster', 'Wigan', 'Wigtownshire', 'Wiltshire', 'Winchester', 'Wirral', 'Woking', 'Wokingham', 'Wolverhampton', 'Worcester', 'Wrexham', 'Wycombe', 'Wyre', 'Wyre Forest', 'YT', 'York', 'ZE', 'ZH']

In [5]:
len(distinct_state_codes)

512

In [7]:
print(df.isna().sum())

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = '/mnt/data/Customers.csv'
df = pd.read_csv(file_path)

# Create a mapping of state names to their corresponding state codes for common states
state_code_mapping = {
    'Queensland': 'QLD',
    'New South Wales': 'NSW',
    'South Australia': 'SA',
    'Victoria': 'VIC',
    'Western Australia': 'WA',
    'Tasmania': 'TAS',
    'Northern Territory': 'NT',
    'Australian Capital Territory': 'ACT'
    # Extend this dictionary as needed for known states
}

# Function to dynamically generate a state code
def generate_state_code(state):
    words = state.split()
    if len(words) == 1:
        return state[:3].upper()
    else:
        return ''.join([word[:2].upper() for word in words])

# Fill missing state codes using the mapping and generate dynamically if not in mapping
df['State Code'] = df.apply(
    lambda row: state_code_mapping.get(row['State'], generate_state_code(row['State']))
    if pd.isnull(row['State Code']) or row['State Code'] == ''
    else row['State Code'], axis=1)

# Save the updated DataFrame back to a CSV file
updated_file_path = '/mnt/data/updated_customers.csv'
df.to_csv(updated_file_path, index=False)

print(f"Missing state codes have been filled and the updated file has been saved as '{updated_file_path}'.")

In [8]:
import pandas as pd
                    #C:\Users\ANNIE CHRISTINA G\Desktop\data spark\dataset\Customers.csv
#sales = pd.read_csv('C:/Users/ANNIE CHRISTINA G/Desktop/data spark/dataset/Sales.csv')
#customer = pd.read_csv('C:/Users/ANNIE CHRISTINA G/Desktop/data spark/dataset/Customers.csv')

# Try different encodings if one doesn't work
df = pd.read_csv('C:/Users/ANNIE CHRISTINA G/Desktop/data spark/updated1_customers.csv')
                    #C:\Users\ANNIE CHRISTINA G\Desktop\data spark\updated1_customers.csv
# Get the distinct values of the 'StateCode' column
distinct_state_codes = df['State Code'].unique()

# Print the distinct values
print("Distinct State Codes:", distinct_state_codes)
# Sort the distinct values
sorted_state_codes = sorted(distinct_state_codes)

# Print the sorted distinct values
print("Distinct State Codes (sorted):", sorted_state_codes)

Distinct State Codes: ['SA' 'WA' 'VIC' 'QLD' 'NT' 'NSW' 'TAS' 'ACT' 'BC' 'QC' 'ON' 'AB' 'NS'
 'SK' 'NU' 'PE' 'MB' 'NL' 'YT' 'NB' 'BB' 'RP' 'BY' 'BW' 'NW' 'NI' 'ST'
 'MV' 'SN' 'TH' 'BE' 'HE' 'SL' 'SH' 'HB' 'HH' 'RA' 'IL' 'GY' 'AL' 'AQ'
 'CA' 'NP' 'GD' 'FC' 'PA' 'PC' 'LI' 'MP' 'PI' 'HN' 'AU' 'PL' 'LO' 'BN'
 'CE' 'LN' 'MQ' 'BO' 'BR' 'CO' 'MY' 'RC' 'VI' 'FE' 'RM' 'AG' 'IM' 'MI'
 'PR' 'BG' 'RG' 'PN' 'SV' 'LU' 'CN' 'TN' 'LE' 'PD' 'BI' 'CH' 'GE' 'TO'
 'VV' 'CZ' 'AN' 'PG' 'LT' 'BL' 'TV' 'PV' 'MN' 'VA' 'PT' 'SI' 'MS' 'CT'
 'BS' 'SS' 'RO' 'CR' 'FI' 'GR' 'IS' 'SO' 'VE' 'OR' 'ME' 'VR' 'CS' 'BZ'
 'NO' 'AV' 'TA' 'VC' 'GO' 'MO' 'FR' 'FG' 'TE' 'BA' 'UD' 'AP' 'TP' 'RE'
 'PO' 'NAP' 'AT' 'SR' 'RI' 'TS' 'KR' 'MT' 'PZ' 'MC' 'VT' 'AR' 'AO' 'CB'
 'LC' 'SP' 'RN' 'FO' 'TR' 'UT' 'NH' 'DR' 'ZH' 'FL' 'OV' 'ZE' 'Falkirk'
 'Ceredigion' 'North East Lincolnshire' 'Aberdeenshire' 'York'
 'Pembrokeshire' 'Leicester' 'Highland' 'Tendring' 'Horsham' 'Newport'
 'Bristol' 'Newark and Sherwood' 'Argyllshire' 'Lincoln' 'Tamworth'
 'Fylde' 'Lewes' 'Rhondda Cynon Taf' 'Bromsgrove' 'Ripon' 'Cornwall'
 'South Lanarkshire' 'Shropshire' 'Perth and Kinross' 'Crawley'
 'Staffordshire' 'Mendip' 'Forest Heath' 'Moray' 'Bracknell Forest'
 'Anglesey' 'Bolsover' 'Calderdale' 'Ashford' 'Sussex' 'Darlington'
 'East Devon' 'Monmouthshire' 'Gloucester' 'Mid Devon' 'Somerset'
 'Hereford' 'Bath and North East Somerset' 'Bassetlaw' 'Christchurch'
 'West Berkshire' 'Gwynedd' 'Suffolk' 'Tewkesbury' 'Colchester'
 'Llandrindod Wells' 'Harrogate' 'Winchester' 'Angus' 'Derbyshire Dales'
 'Dacorum' 'Suffolk Coastal' 'Wiltshire' 'Leeds' 'Kennet' 'Hampshire'
 'Norfolk' 'Northumberland' 'Doncaster' 'Purbeck' 'Wyre Forest'
 'Redcar & Cleveland' 'West Dorset' 'Ipswich' 'Powys' 'Midlothian' 'Fife'
 'North Ayrshire' 'Carmarthenshire' 'Birmingham' 'South Oxfordshire'
 'North Yorkshire' 'Cheshire West and Chester' 'Scottish Borders'
 'Lichfield' 'Rushcliffe' 'Arun' 'Dumfriesshire' 'Wakefield'
 'Denbighshire' 'Plymouth' 'St Edmundsbury' 'Edinburgh' 'Liverpool' 'Kent'
 'Warwick' 'Gedling' 'Shetland' 'Flintshire' 'Gravesham'
 'Central Bedfordshire' 'North Dorset' 'Lancaster' 'Breckland'
 'East Riding of Yorkshire' 'Exeter' 'Vale of White Horse' 'Cherwell'
 'South Holland' 'South Lakeland' 'Stroud' 'Orkney Islands' 'West Lindsey'
 'Stratford-on-Avon' 'West Oxfordshire' 'Bedford' 'Rother' 'Isle of Man'
 'Swindon' 'Charnwood' 'Waverley' 'Wolverhampton' 'Aylesbury Vale'
 'Merton' 'Sevenoaks' 'Allerdale' 'Bolton' 'Selby' 'Berkshire' 'Copeland'
 'Chelmsford' 'South Kesteven' 'Cheshire East' 'Boston' 'County Durham'
 'Mid Suffolk' 'Wandsworth' 'West Dunbartonshire' 'Erewash' 'Babergh'
 'South Hams' 'Wigan' 'South Ayrshire' 'Rotherham' 'Isle of Wight'
 'Cotswold' 'Worcester' 'Rutland' 'East Northamptonshire' 'Rugby'
 'Stirling' 'North Kesteven' 'Comhairle nan Eilean Siar' 'Walsall'
 'Knowsley' 'South Somerset' 'North Lincolnshire' 'South Norfolk'
 'Aberdeen' 'Welwyn Hatfield' 'Kirkcudbrightshire' 'Carlisle' 'Hillingdon'
 'West Norfolk' 'Kirklees' 'New Forest' 'Swansea' 'Craven' 'Camden'
 'North Somerset' 'Teignbridge' 'Melton' 'Conwy' 'Enfield' 'Glasgow'
 'Braintree' 'Chichester' 'North Hertfordshire' 'East Lothian'
 'Renfrewshire' 'Eden' 'Uttlesford' 'Mid Sussex' 'Peterborough' 'Ashfield'
 'Redbridge' 'Sheffield' 'Newcastle' 'Harlow' 'East Hampshire'
 'Caerphilly' 'North Warwickshire' 'Brentwood' 'Tameside'
 'Brighton and Hove' 'Rossendale' 'Swale' 'Sutton' 'Huntingdonshire'
 'St Albans' 'Dudley' 'East Hertfordshire' 'Guildford' 'Cambridge'
 'Woking' 'Daventry' 'Vale of Glamorgan' 'East Ayrshire' 'Bradford'
 'South Buckinghamshire' 'Merthyr Tydfil' 'West Lothian' 'East Lindsey'
 'Hambleton' 'Tower Hamlets' 'Test Valley' 'Dartford' 'Sunderland'
 'Medway' 'Rochdale' 'Bury' 'Oxford' 'Bridgend' 'South Derbyshire'
 'Milton Keynes' 'Southampton' 'Wokingham' 'Nottingham' 'Stevenage'
 'Wirral' 'Dundee' 'Amber Valley' 'Harrow' 'East Dorset' 'Maidstone'
 'Wigtownshire' 'Gateshead' 'Telford and Wrekin' 'Wellingborough'
 'Runnymede' 'Wrexham' 'Cannock Chase' 'Kensington and Chelsea'
 'South Gloucestershire' 'Wycombe' 'South Staffordshire' 'Sandwell'
 'Bromley' 'Torridge' 'Burnley' 'Sefton' 'Ribble Valley' 'Chiltern'
 'Hastings' 'East Staffordshire' 'Barnet' 'Reigate and Banstead'
 'Basildon' 'Tandridge' 'Westminster' 'Warrington' 'West Lancashire'
 'Preston' 'Canterbury' 'Wealden' 'Havering' 'West Devon' 'Islington'
 'Wyre' 'Kinross-Shire' 'Waveney' 'North Lanarkshire' 'Ely'
 'Neath Port Talbot' 'Nuneaton & Bedworth' 'Chesterfield' 'Mole Valley'
 'South Northamptonshire' 'Broxbourne' 'Cardiff' 'Hackney' 'Redditch'
 'Tunbridge Wells' 'Haringey' 'Malvern Hills' 'Broxtowe' 'Spelthorne'
 'Coventry' 'Newmarket' 'Lanarkshire' 'East Dunbartonshire'
 'Stockton-on-Tees' 'NC' 'MD' 'HI' 'NY' 'TX' 'GA' 'DE' 'WI' 'KS' 'NV' 'MA'
 'NJ' 'OH' 'IA' 'KY' 'DC' 'OK' 'ID' 'AZ' 'IN' 'WV' 'NE' 'LA' 'AK' 'ND'
 'SC' 'NM' 'SD' 'WY']
Distinct State Codes (sorted): ['AB', 'ACT', 'AG', 'AK', 'AL', 'AN', 'AO', 'AP', 'AQ', 'AR', 'AT', 'AU', 'AV', 'AZ', 'Aberdeen', 'Aberdeenshire', 'Allerdale', 'Amber Valley', 'Anglesey', 'Angus', 'Argyllshire', 'Arun', 'Ashfield', 'Ashford', 'Aylesbury Vale', 'BA', 'BB', 'BC', 'BE', 'BG', 'BI', 'BL', 'BN', 'BO', 'BR', 'BS', 'BW', 'BY', 'BZ', 'Babergh', 'Barnet', 'Basildon', 'Bassetlaw', 'Bath and North East Somerset', 'Bedford', 'Berkshire', 'Birmingham', 'Bolsover', 'Bolton', 'Boston', 'Bracknell Forest', 'Bradford', 'Braintree', 'Breckland', 'Brentwood', 'Bridgend', 'Brighton and Hove', 'Bristol', 'Bromley', 'Bromsgrove', 'Broxbourne', 'Broxtowe', 'Burnley', 'Bury', 'CA', 'CB', 'CE', 'CH', 'CN', 'CO', 'CR', 'CS', 'CT', 'CZ', 'Caerphilly', 'Calderdale', 'Cambridge', 'Camden', 'Cannock Chase', 'Canterbury', 'Cardiff', 'Carlisle', 'Carmarthenshire', 'Central Bedfordshire', 'Ceredigion', 'Charnwood', 'Chelmsford', 'Cherwell', 'Cheshire East', 'Cheshire West and Chester', 'Chesterfield', 'Chichester', 'Chiltern', 'Christchurch', 'Colchester', 'Comhairle nan Eilean Siar', 'Conwy', 'Copeland', 'Cornwall', 'Cotswold', 'County Durham', 'Coventry', 'Craven', 'Crawley', 'DC', 'DE', 'DR', 'Dacorum', 'Darlington', 'Dartford', 'Daventry', 'Denbighshire', 'Derbyshire Dales', 'Doncaster', 'Dudley', 'Dumfriesshire', 'Dundee', 'East Ayrshire', 'East Devon', 'East Dorset', 'East Dunbartonshire', 'East Hampshire', 'East Hertfordshire', 'East Lindsey', 'East Lothian', 'East Northamptonshire', 'East Riding of Yorkshire', 'East Staffordshire', 'Eden', 'Edinburgh', 'Ely', 'Enfield', 'Erewash', 'Exeter', 'FC', 'FE', 'FG', 'FI', 'FL', 'FO', 'FR', 'Falkirk', 'Fife', 'Flintshire', 'Forest Heath', 'Fylde', 'GA', 'GD', 'GE', 'GO', 'GR', 'GY', 'Gateshead', 'Gedling', 'Glasgow', 'Gloucester', 'Gravesham', 'Guildford', 'Gwynedd', 'HB', 'HE', 'HH', 'HI', 'HN', 'Hackney', 'Hambleton', 'Hampshire', 'Haringey', 'Harlow', 'Harrogate', 'Harrow', 'Hastings', 'Havering', 'Hereford', 'Highland', 'Hillingdon', 'Horsham', 'Huntingdonshire', 'IA', 'ID', 'IL', 'IM', 'IN', 'IS', 'Ipswich', 'Isle of Man', 'Isle of Wight', 'Islington', 'KR', 'KS', 'KY', 'Kennet', 'Kensington and Chelsea', 'Kent', 'Kinross-Shire', 'Kirkcudbrightshire', 'Kirklees', 'Knowsley', 'LA', 'LC', 'LE', 'LI', 'LN', 'LO', 'LT', 'LU', 'Lanarkshire', 'Lancaster', 'Leeds', 'Leicester', 'Lewes', 'Lichfield', 'Lincoln', 'Liverpool', 'Llandrindod Wells', 'MA', 'MB', 'MC', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MQ', 'MS', 'MT', 'MV', 'MY', 'Maidstone', 'Malvern Hills', 'Medway', 'Melton', 'Mendip', 'Merthyr Tydfil', 'Merton', 'Mid Devon', 'Mid Suffolk', 'Mid Sussex', 'Midlothian', 'Milton Keynes', 'Mole Valley', 'Monmouthshire', 'Moray', 'NAP', 'NB', 'NC', 'ND', 'NE', 'NH', 'NI', 'NJ', 'NL', 'NM', 'NO', 'NP', 'NS', 'NSW', 'NT', 'NU', 'NV', 'NW', 'NY', 'Neath Port Talbot', 'New Forest', 'Newark and Sherwood', 'Newcastle', 'Newmarket', 'Newport', 'Norfolk', 'North Ayrshire', 'North Dorset', 'North East Lincolnshire', 'North Hertfordshire', 'North Kesteven', 'North Lanarkshire', 'North Lincolnshire', 'North Somerset', 'North Warwickshire', 'North Yorkshire', 'Northumberland', 'Nottingham', 'Nuneaton & Bedworth', 'OH', 'OK', 'ON', 'OR', 'OV', 'Orkney Islands', 'Oxford', 'PA', 'PC', 'PD', 'PE', 'PG', 'PI', 'PL', 'PN', 'PO', 'PR', 'PT', 'PV', 'PZ', 'Pembrokeshire', 'Perth and Kinross', 'Peterborough', 'Plymouth', 'Powys', 'Preston', 'Purbeck', 'QC', 'QLD', 'RA', 'RC', 'RE', 'RG', 'RI', 'RM', 'RN', 'RO', 'RP', 'Redbridge', 'Redcar & Cleveland', 'Redditch', 'Reigate and Banstead', 'Renfrewshire', 'Rhondda Cynon Taf', 'Ribble Valley', 'Ripon', 'Rochdale', 'Rossendale', 'Rother', 'Rotherham', 'Rugby', 'Runnymede', 'Rushcliffe', 'Rutland', 'SA', 'SC', 'SD', 'SH', 'SI', 'SK', 'SL', 'SN', 'SO', 'SP', 'SR', 'SS', 'ST', 'SV', 'Sandwell', 'Scottish Borders', 'Sefton', 'Selby', 'Sevenoaks', 'Sheffield', 'Shetland', 'Shropshire', 'Somerset', 'South Ayrshire', 'South Buckinghamshire', 'South Derbyshire', 'South Gloucestershire', 'South Hams', 'South Holland', 'South Kesteven', 'South Lakeland', 'South Lanarkshire', 'South Norfolk', 'South Northamptonshire', 'South Oxfordshire', 'South Somerset', 'South Staffordshire', 'Southampton', 'Spelthorne', 'St Albans', 'St Edmundsbury', 'Staffordshire', 'Stevenage', 'Stirling', 'Stockton-on-Tees', 'Stratford-on-Avon', 'Stroud', 'Suffolk', 'Suffolk Coastal', 'Sunderland', 'Sussex', 'Sutton', 'Swale', 'Swansea', 'Swindon', 'TA', 'TAS', 'TE', 'TH', 'TN', 'TO', 'TP', 'TR', 'TS', 'TV', 'TX', 'Tameside', 'Tamworth', 'Tandridge', 'Teignbridge', 'Telford and Wrekin', 'Tendring', 'Test Valley', 'Tewkesbury', 'Torridge', 'Tower Hamlets', 'Tunbridge Wells', 'UD', 'UT', 'Uttlesford', 'VA', 'VC', 'VE', 'VI', 'VIC', 'VR', 'VT', 'VV', 'Vale of Glamorgan', 'Vale of White Horse', 'WA', 'WI', 'WV', 'WY', 'Wakefield', 'Walsall', 'Wandsworth', 'Warrington', 'Warwick', 'Waveney', 'Waverley', 'Wealden', 'Wellingborough', 'Welwyn Hatfield', 'West Berkshire', 'West Devon', 'West Dorset', 'West Dunbartonshire', 'West Lancashire', 'West Lindsey', 'West Lothian', 'West Norfolk', 'West Oxfordshire', 'Westminster', 'Wigan', 'Wigtownshire', 'Wiltshire', 'Winchester', 'Wirral', 'Woking', 'Wokingham', 'Wolverhampton', 'Worcester', 'Wrexham', 'Wycombe', 'Wyre', 'Wyre Forest', 'YT', 'York', 'ZE', 'ZH']

In [9]:
print(df.isna().sum())

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [11]:
import pandas as pd

# Load the CSV file
file_path = 'C:/Users/ANNIE CHRISTINA G/Desktop/data spark/updated1_customers.csv'
data = pd.read_csv(file_path)

# Create a function to update state codes based on state names
def update_state_code(row):
    state_code_map = {
        'South Australia': 'SA',
        'Western Australia': 'WA',
        'Victoria': 'VIC',
        'New South Wales': 'NSW',
        'Queensland': 'QLD',
        'Tasmania': 'TAS',
        'Northern Territory': 'NT',
        'Australian Capital Territory': 'ACT'
    }
    
    if pd.isna(row['State Code']) or row['State Code'] not in state_code_map.values():
        return state_code_map.get(row['State'], row['State Code'])
    return row['State Code']

# Apply the function to update the 'State Code' column
data['State Code'] = data.apply(update_state_code, axis=1)

# Ensure all state codes are uppercase (in case there are any lowercase ones)
data['State Code'] = data['State Code'].str.upper()

# Save the updated dataframe to a new CSV file

data.to_csv('output_file_path.csv', index=False)

print("State codes have been corrected and saved to:")

State codes have been corrected and saved to:

In [13]:
import pandas as pd

# Load the CSV file
file_path = 'C:/Users/ANNIE CHRISTINA G/Desktop/data spark/updated1_customers.csv'
data = pd.read_csv(file_path)

# Create a function to update state codes based on state names
def update_state_code(row):
    state_code_map = {
        'South Australia': 'SA',
        'Western Australia': 'WA',
        'Victoria': 'VIC',
        'New South Wales': 'NSW',
        'Queensland': 'QLD',
        'Tasmania': 'TAS',
        'Northern Territory': 'NT',
        'Australian Capital Territory': 'ACT'
    }
    
    state_name = row['State']
    current_code = row['State Code']
    
    # Update only if current code is invalid or missing
    if pd.isna(current_code) or current_code not in state_code_map.values():
        return state_code_map.get(state_name, current_code)
    return current_code

# Apply the function to update the 'State Code' column
data['State Code'] = data.apply(update_state_code, axis=1)

# Ensure the 'State Code' column matches the expected format (abbreviation)
data['State Code'] = data['State Code'].apply(lambda x: x.upper() if isinstance(x, str) else x)

# Save the updated dataframe to a new CSV file
#output_file_path = 'path/to/your/updated_customers_corrected.csv'
data.to_csv('output_file_path.csv', index=False)

print("State codes have been corrected and saved to:")

State codes have been corrected and saved to:

In [ ]:
import pandas as pd
import re

# Load the CSV file
file_path = 'path/to/your/updated1_customers.csv'
data = pd.read_csv(file_path)

# Create a function to update state codes based on state names
def update_state_code(row):
    state_code_map = {
        'South Australia': 'SA',
        'Western Australia': 'WA',
        'Victoria': 'VIC',
        'New South Wales': 'NSW',
        'Queensland': 'QLD',
        'Tasmania': 'TAS',
        'Northern Territory': 'NT',
        'Australian Capital Territory': 'ACT'
    }
    
    state_name = row['State']
    current_code = row['State Code']
    
    # Update only if current code is invalid or missing
    if pd.isna(current_code) or current_code not in state_code_map.values():
        return state_code_map.get(state_name, current_code)
    return current_code

# Function to clean special characters from names
def clean_name(name):
    # Replace any character that is not a letter, digit, or space with an empty string
    cleaned_name = re.sub(r'[^a-zA-Z\s]', '', name)
    # Remove leading and trailing spaces
    cleaned_name = cleaned_name.strip()
    return cleaned_name

# Apply the state code update function
data['State Code'] = data.apply(update_state_code, axis=1)

# Clean special characters from the 'Name' column
data['Name'] = data['Name'].apply(clean_name)

# Save the updated dataframe to a new CSV file
output_file_path = 'path/to/your/updated_customers_corrected.csv'
data.to_csv(output_file_path, index=False)

print("Names have been cleaned and state codes corrected. Saved to:", output_file_path)

In [14]:
import pandas as pd
import re

# Load the CSV file
file_path = 'C:/Users/ANNIE CHRISTINA G/Desktop/data spark/updated1_customers.csv'
data = pd.read_csv(file_path)

# Create a function to update state codes based on state names
def update_state_code(row):
    state_code_map = {
        'South Australia': 'SA',
        'Western Australia': 'WA',
        'Victoria': 'VIC',
        'New South Wales': 'NSW',
        'Queensland': 'QLD',
        'Tasmania': 'TAS',
        'Northern Territory': 'NT',
        'Australian Capital Territory': 'ACT'
    }
    
    state_name = row['State']
    current_code = row['State Code']
    
    # Update only if current code is invalid or missing
    if pd.isna(current_code) or current_code not in state_code_map.values():
        return state_code_map.get(state_name, current_code)
    return current_code

# Function to clean special characters from names and cities
def clean_text(text):
    # Replace any character that is not a letter, digit, or space with an empty string
    cleaned_text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Remove leading and trailing spaces
    cleaned_text = cleaned_text.strip()
    return cleaned_text

# Apply the state code update function
data['State Code'] = data.apply(update_state_code, axis=1)

# Clean special characters from the 'Name' column
data['Name'] = data['Name'].apply(clean_text)

# Clean special characters from the 'City' column
data['City'] = data['City'].apply(clean_text)

# Save the updated dataframe to a new CSV file
#output_file_path = 'path/to/your/updated_customers_corrected.csv'
data.to_csv('output_file_path.csv', index=False)

print("Names and cities have been cleaned and state codes corrected. Saved to:")

Names and cities have been cleaned and state codes corrected. Saved to: